body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-section {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: darkred;
}

.title {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.menu-button-section {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    flex-basis: 80%;
}

.menu-button {
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 0px;
    font-weight: bold;
    margin-right: 5px;
}

.menu-button .image {
    height: 50px;
    width: 50px;
}

.menu-button:hover {
    background-color: seashell;
}