body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-section {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: darkred;
}

.title {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    padding: 10px;
}

.main-content {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding: 10px;
    justify-content: space-evenly;
}

.image {
    height: 50px;
    width: 50px;
}

button {
    border-radius: 5px;
    height: 200px;
    width: 120px;
}

button:hover {
    background-color: seashell;
}